nav {
  font-family: "Abril Fatface", serif;
}
h1 {
  font-family: "font-family: 'Libre Baskerville', serif";
  color: white;
  text-align: center;
  font-size: 3 rem;
}
h2 {
  font-family: "Dancing Script", serif;
}

* {
  background-color: black;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: grey;
}
