nav {
  font-family: "Abril Fatface", serif;
  border: 2px solid gray;
  padding: 1px;
}
h1 {
  font-family: "font-family: 'Libre Baskerville', serif";
  color: white;
  text-align: center;
  font-size: 3 rem;
  margin-bottom: 0;
}
.h2 {
  padding: 0;
  font-family: "Dancing Script", cursive;
  color: white;
  text-align: center;
  font-size: 0.75 rem;
}
p {
  font-family: "Dancing Script", cursive;
}
* {
  background-color: black;
  color: white;
}
ul {
  border: 2px gray solid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: grey;
}
form {
  padding: 11px;
  background: grey;
}
section {
  padding: 11px;
  background-color: gray;
}
.section2 {
  display: flex;
  align-items: center;
}
.footer {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  padding: 3px;
  background-color: gray;
  color: white;
  position: bottom;
  bottom: 0;
  left: 0;
  right: 0;

  height: auto;
  width: 100vw;
  padding: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: bottom;
  text-align: center;
}
.pshirt {
  width: 400px;
  height: 400px;
}
.parag {
  max-width: 150px;
  margin: auto;
}
